.jogs-page {
  height: 100%;
  width: 100%;
  position: absolute;
}

.jogs-page__content_create-popup {
  padding: 80px 35px 40px;
  height: auto;
  display: flex;
  justify-content: center;
}

.jogs-page__content_start-popup {
  @media (min-width: $desktop) {
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.jogs-page__start-popup {
  padding: 390px 0 40px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  background-image: url(./images/bearFace@2x.png);
  background-position: center 140px;
  background-size: 150px auto;
  background-repeat: no-repeat;

  @media (min-width: $desktop) {
    padding: 280px 0 40px;
    min-height: auto;
    height: auto;
    width: 500px;
    border-radius: 44px;
    background-color: $pink;
    background-image: url(./images/bearFaceInvert@2x.png);
    background-position: center 75px;
  }
}
