.filter {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  background-color: $grey-6;
}

.filter__field:not(:last-child) {
  margin-right: 35px;

  @media (min-width: $desktop) {
    margin-right: 45px;
  }
}

.filter__label {
  margin-right: 15px;
  font-size: 13px;
  color: $grey-7;
}

.filter__input {
  width: 72px;
  display: inline-block;
}
