*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-width: $min;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  line-height: 1;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

button,
input[type="button"] {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  overflow: visible;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  margin: 0;
  padding: 0;
  border: 1px solid $grey-7;
  border-radius: 10px;
  height: 30px;
  background: none;
  background-color: $white;
  font-size: 13px;
  font-family: inherit;
  line-height: 1;
  white-space: normal;
  vertical-align: middle;
  outline: 0;

  &:focus {
    outline: 0;
  }
}