$black: #2b2b2b;
$black-2: #000;
$green: #7ed321;
$grey: #d7d7d7;
$grey-2: #525252;
$grey-3: #a1a1a1;
$grey-4: #464347;
$grey-5: #b0abab;
$grey-6: #eaeaea;
$grey-7: #979797;
$pink: #e990f9;
$white: #fff;
