.info-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-page h2 {
  margin-bottom: 6px;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: $green;
}

.info-page p {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 24px;

  @media (min-width: $desktop) {
    margin-bottom: 40px;
  }
}

.info-page__content {
  padding: 25px 25px 0;

  @media (min-width: $desktop) {
    padding: 85px 0 0;
    max-width: 620px;
  }
}